@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;400;600;800;900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and/or padding*/
body,
h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
  /* padding: 0; */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

/* ------------------------------------------ */