@media screen and (max-width: 600px) {

.main-nav {
    display: none;
}

.wrap {
    height: 100vh;
}

.hero-head .wrapper h1, 
.hero-head .wrapper .goal {
    float: none;
    line-height: 2;
} 

.wrapper h1 {
    font-size: 38px;
    line-height: 2.5;
}
.wrapper .goal {
    max-width: 100%;
    padding: 0 20px ;
    text-indent: 30px;
    font-size: 22px;
}


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.hero-head::after {
    display: none;
}

.hero-head {
    min-height: unset;
    background-image: none;
    background-color: black;
    padding-bottom: 130px;
}

.main-head .logo {
    width: 200px;
}

.content-wrap {
    margin: 0 auto;
    flex-direction: column;
}

.content-wrap h3 {
   text-align: center;
}
    
.content .bordered .wrapper {
    display: flex;
}

.bordered {
    padding-bottom: 0;
    font-size: 20px;
}

.bordered h3 {
    font-size: 64px;
}

.content-wrap {
    padding-bottom: 100px;
}
.content-wrap.two-col .col {
    margin: 0 20px;
    padding-bottom: 30px;
   
}

.button {
    width: 95%;
}

.wrapper:last-of-type {
    padding-bottom: 0;
}
.module-text {
    width: 100%;
    line-height: 2;
    font-size: 20px;
    text-align: center;
}
.sponsors .module-text {
    margin-bottom: 20px;
    padding: 0 60px;
    text-align: center;
}

.main-foot .wrapper {
    flex-direction: column;
 
}

.main-foot address, .main-foot nav {
    margin-bottom: 40px;
    margin-right: 0;
}

.main-foot address p {
    font-size: 16px;
}

.main-foot h4 {
    font-size: 26px;
    margin-top: 65px;
}

.main-foot nav ul li{
    display: block;
    padding: 3px;
    font-size: 16px;
}

.main-foot nav ul li a{
    line-height: 60px;
}

.main-foot .bottom {
    padding: 5px;
}

.main-foot .bottom .copyright {
    float: none;
    font-size: 18px;
    padding: 20px;
}

}