@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.main {
    display: flex;
    max-width: 1000px;
    margin: 80px auto;
}

.content, .img {
    width: 50%;
}

.img img {
    width: 100%;
} 

.content-text {
    margin: 0 30px 30px 0;
}

.content h1 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.content  p {
    font-size: 12px;
    margin-bottom: 10px;
    color: grey;

}

.list ul {
    padding: 0;
}
.list li {
    display: flex;
}


.list img{
    width: 45px;
    object-fit: cover;
    margin-bottom: 25px;
    margin-right: 8px;
}

.list-adv h3{
    font-size: 14px;
}

