@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and/or padding*/
body,
h1,
h2,
h3,
h4,
p,
blockquote {
    margin: 0;
    /* padding: 0; */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}



/* ------------------------------------------ */

html {
    font-family: 'PT Sans', sans-serif;
}

nav .list {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 25px;
    color: #fff;
}


#header {
    position: relative;
    height: 550px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    text-shadow: 1px 3px 3px black;
}

.img-wrapper {
    position: absolute;
    left: 0;
    top: -255px;
    z-index: -1;
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

.title {
    font-size: 55px;
    margin: 25px 0;
    z-index: 1;
}

.subtitle {
    font-size: 18px;
    margin-inline: 450px;
    margin-bottom: 80px;
}

.header-btn {
    font-size: 18px;
    background-color: #00D08E;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 15px 25px;
    color: #fff;
    margin-bottom: 50px;
}

.header-btn:hover {
    border: 4px solid #fff;
    background-color: unset;
}

.action {
    font-size: 24px;
    color: #fff;
}

.action i {
    text-shadow: none;
    background-color: #fff;
    font-size: 18px;
    padding: 2px 4px;
    border-radius: 50%;
    color: #000;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "picture1 content"
        "perfect picture2";
}

.picture1 {
    grid-area: picture1;
    width: 100%;
}

.content {
    grid-area: content;
}

.perfect {
    grid-area: perfect;
}

.picture2 {
    grid-area: picture2;
    width: 100%;
}

.content {
    padding: 40px 60px;
}

.content-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.content-subtitle {
    font-size: 22px;
    margin-bottom: 40px;
}

.content-list li {
    font-size: 18px;
    margin-bottom: 20px;
}

.content-list li i {
    font-size: 13px;
    background-color: #00D08E;
    padding: 3px 4px;
    border-radius: 50%;
    margin-right: 20px;
    color: white;
}

.perfect {
    text-align: center;
    padding: 40px 100px 0px 100px;
}

.perfect-title {
    font-size: 34px;
    margin-bottom: 50px;
}

.perfect-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.perfect-content-card {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.perfect-content-card p {
    color: #00D08E;
    font-size: 24px;
    font-weight: bold;
}

.perfect-content-card img {
    width: 55%;
    margin-bottom: 10px;
}

footer {
    background-color: #AEECD8;
    padding: 30px 80px;
    text-align: center;
}

.footer-title {
    font-size: 33px;
    margin-bottom: 60px;
}

.footer-cards {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.footer-cards .card {
    flex-basis: 30%;
    margin-bottom: 50px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-text {
    padding: 0 20px;
}

.last span.bold {
    font-weight: bold;
}